In [8]:
model.train_X.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12
106,1.311578,-1.849609,1.849609,-0.824621,0.824621,-0.650945,0.650945,-1.048809,1.048809,0.824621,-0.824621,-0.976467,0.976467
91,1.039547,-1.849609,1.849609,-0.824621,0.824621,1.536229,-1.536229,-1.048809,1.048809,0.824621,-0.824621,1.024100,-1.024100
32,-0.810264,0.540655,-0.540655,-0.824621,0.824621,1.536229,-1.536229,0.953463,-0.953463,0.824621,-0.824621,1.024100,-1.024100
95,1.093953,-1.849609,1.849609,-0.824621,0.824621,1.536229,-1.536229,-1.048809,1.048809,0.824621,-0.824621,1.024100,-1.024100
31,-0.810264,0.540655,-0.540655,1.212678,-1.212678,-0.650945,0.650945,-1.048809,1.048809,0.824621,-0.824621,-0.976467,0.976467

In [1]:
import sys
sys.path.append('C:\\Users\\Danilo Santos\\Desktop\\Qualificação PPGCC\\abordagem\\RFNS')
from grimoire.BaseEnginnering import BaseEnginnering

In [2]:
import pandas as pd

import numpy as np

from sklearn.model_selection import train_test_split

In [3]:
df_acute = pd.read_csv('../datasets/acute/diagnosis.csv',
                       engine='c', 
                       memory_map=True, 
                       low_memory=True)

In [4]:
X = df_acute[['temperatura', 'nausea', 'dorlombar', 
              'urinepushing', 'miccao', 'queimacao', 'inflamacao']]
# Labels
y = df_acute['target']

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.30, 
                                                    random_state=100, 
                                                    shuffle=True, 
                                                    stratify=y)

In [5]:
# testa com enginnering
model = BaseEnginnering()
model.train_X = X_train
model.train_y = y_train
print('Shape X: ', model.train_X.shape)
print('Shape y:', model.train_y.shape)
model.train_X.head()

Shape X:  (84, 7)
Shape y: (84,)

     temperatura nausea dorlombar urinepushing miccao queimacao inflamacao
106         41.1    yes       yes          yes    yes        no        yes
91          40.6    yes       yes           no    yes        no         no
32          37.2     no       yes           no     no        no         no
95          40.7    yes       yes           no    yes        no         no
31          37.2     no        no          yes    yes        no        yes

In [6]:
model.encoder_enable = True
model.encoder_data = True
model.get_transform()
model.train_X.head()

,temperatura,nausea_no,nausea_yes,dorlombar_no,dorlombar_yes,urinepushing_no,urinepushing_yes,miccao_no,miccao_yes,queimacao_yes,queimacao_no,inflamacao_no,inflamacao_yes
106,41.1,0.0,1.0,0.0,1.0,0.0,1.0,0.0,1.0,1.0,0.0,0.0,1.0
91,40.6,0.0,1.0,0.0,1.0,1.0,0.0,0.0,1.0,1.0,0.0,1.0,0.0
32,37.2,1.0,0.0,0.0,1.0,1.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0
95,40.7,0.0,1.0,0.0,1.0,1.0,0.0,0.0,1.0,1.0,0.0,1.0,0.0
31,37.2,1.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0,0.0,1.0

In [7]:
# habilita a normalização dos dados
model.normalize_enable = True
model.get_normalize()

In [8]:
model.train_X.head()

,temperatura,nausea_no,nausea_yes,dorlombar_no,dorlombar_yes,urinepushing_no,urinepushing_yes,miccao_no,miccao_yes,queimacao_yes,queimacao_no,inflamacao_no,inflamacao_yes
106,1.311578,0.0,1.0,0.0,1.0,0.0,1.0,0.0,1.0,1.0,0.0,0.0,1.0
91,1.039547,0.0,1.0,0.0,1.0,1.0,0.0,0.0,1.0,1.0,0.0,1.0,0.0
32,-0.810264,1.0,0.0,0.0,1.0,1.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0
95,1.093953,0.0,1.0,0.0,1.0,1.0,0.0,0.0,1.0,1.0,0.0,1.0,0.0
31,-0.810264,1.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0,0.0,1.0

In [7]:
model.encoder_categorical_columns

['nausea_no',
 'nausea_yes',
 'dorlombar_no',
 'dorlombar_yes',
 'urinepushing_no',
 'urinepushing_yes',
 'miccao_no',
 'miccao_yes',
 'queimacao_yes',
 'queimacao_no',
 'inflamacao_no',
 'inflamacao_yes']

In [8]:
column_numerical = [col for col in model.train_X if col not in model.encoder_categorical_columns]
print(column_numerical)

['temperatura']

In [16]:
df_tmp = model.train_X.loc[:, column_numerical]
df_tmp['temp'] = df_tmp['temperatura']*2

In [17]:
model.normalize_enable = True
model.run_scaler_data()
normal_values = model.normalize_scaler.fit_transform(df_tmp)

In [20]:
print(normal_values)

[[ 1.31157829  1.31157829]
 [ 1.03954724  1.03954724]
 [-0.81026392 -0.81026392]
 [ 1.09395345  1.09395345]
 [-0.81026392 -0.81026392]
 [-0.59263908 -0.59263908]
 [-0.7014515  -0.7014515 ]
 [-0.91907634 -0.91907634]
 [-0.59263908 -0.59263908]
 [ 0.71310997  0.71310997]
 [-0.7014515  -0.7014515 ]
 [ 1.09395345  1.09395345]
 [ 1.52920313  1.52920313]
 [-0.42942045 -0.42942045]
 [-1.46313845 -1.46313845]
 [-0.53823287 -0.53823287]
 [ 1.14835966  1.14835966]
 [-0.86467013 -0.86467013]
 [ 0.82192239  0.82192239]
 [-1.02788876 -1.02788876]
 [ 1.03954724  1.03954724]
 [-1.08229497 -1.08229497]
 [-0.91907634 -0.91907634]
 [-0.42942045 -0.42942045]
 [ 0.82192239  0.82192239]
 [ 1.25717208  1.25717208]
 [ 0.82192239  0.82192239]
 [-0.86467013 -0.86467013]
 [ 1.31157829  1.31157829]
 [ 1.20276587  1.20276587]
 [-1.51754466 -1.51754466]
 [-0.75585771 -0.75585771]
 [ 1.09395345  1.09395345]
 [-0.32060803 -0.32060803]
 [-0.81026392 -0.81026392]
 [-1.46313845 -1.46313845]
 [ 1.20276587  1.20276587]
 [ 1.31157829  1.31157829]
 [-1.13670118 -1.13670118]
 [ 0.16904787  0.16904787]
 [ 1.3659845   1.3659845 ]
 [ 0.98514103  0.98514103]
 [-0.59263908 -0.59263908]
 [ 0.93073482  0.93073482]
 [ 0.54989134  0.54989134]
 [ 0.71310997  0.71310997]
 [-0.42942045 -0.42942045]
 [ 0.38667271  0.38667271]
 [-0.91907634 -0.91907634]
 [-0.37501424 -0.37501424]
 [ 1.52920313  1.52920313]
 [-1.7351695  -1.7351695 ]
 [ 1.47479692  1.47479692]
 [-0.42942045 -0.42942045]
 [-0.64704529 -0.64704529]
 [-0.64704529 -0.64704529]
 [ 0.76751618  0.76751618]
 [ 1.03954724  1.03954724]
 [ 1.42039071  1.42039071]
 [-0.91907634 -0.91907634]
 [-0.91907634 -0.91907634]
 [ 1.52920313  1.52920313]
 [-0.97348255 -0.97348255]
 [-0.42942045 -0.42942045]
 [-0.64704529 -0.64704529]
 [ 1.20276587  1.20276587]
 [-1.46313845 -1.46313845]
 [-0.64704529 -0.64704529]
 [ 1.25717208  1.25717208]
 [ 0.00582924  0.00582924]
 [-0.97348255 -0.97348255]
 [ 1.09395345  1.09395345]
 [-0.48382666 -0.48382666]
 [-0.10298318 -0.10298318]
 [-0.91907634 -0.91907634]
 [-1.13670118 -1.13670118]
 [-1.35432603 -1.35432603]
 [ 1.25717208  1.25717208]
 [-0.64704529 -0.64704529]
 [-1.35432603 -1.35432603]
 [ 0.93073482  0.93073482]
 [-0.91907634 -0.91907634]
 [ 1.52920313  1.52920313]
 [-0.53823287 -0.53823287]]

In [22]:
print(normal_values[:,0])

[ 1.31157829  1.03954724 -0.81026392  1.09395345 -0.81026392 -0.59263908
 -0.7014515  -0.91907634 -0.59263908  0.71310997 -0.7014515   1.09395345
  1.52920313 -0.42942045 -1.46313845 -0.53823287  1.14835966 -0.86467013
  0.82192239 -1.02788876  1.03954724 -1.08229497 -0.91907634 -0.42942045
  0.82192239  1.25717208  0.82192239 -0.86467013  1.31157829  1.20276587
 -1.51754466 -0.75585771  1.09395345 -0.32060803 -0.81026392 -1.46313845
  1.20276587  1.31157829 -1.13670118  0.16904787  1.3659845   0.98514103
 -0.59263908  0.93073482  0.54989134  0.71310997 -0.42942045  0.38667271
 -0.91907634 -0.37501424  1.52920313 -1.7351695   1.47479692 -0.42942045
 -0.64704529 -0.64704529  0.76751618  1.03954724  1.42039071 -0.91907634
 -0.91907634  1.52920313 -0.97348255 -0.42942045 -0.64704529  1.20276587
 -1.46313845 -0.64704529  1.25717208  0.00582924 -0.97348255  1.09395345
 -0.48382666 -0.10298318 -0.91907634 -1.13670118 -1.35432603  1.25717208
 -0.64704529 -1.35432603  0.93073482 -0.91907634  1.52920313 -0.53823287]

In [23]:
normal_values.shape

(84, 2)